<div>
	<form (ngSubmit)="onFormSubmit()">
		<h2 *ngIf="hasRoute('/sign-up')">Sign up</h2>
		<h2 *ngIf="hasRoute('/')">Log in</h2>
		<div class="form-control">
		<label for="email">Email</label>
		<input
		type="email"
		name="email"
		[(ngModel)]="email"
		id="email"
		placeholder="Enter your email here."
		/>
		</div>
		<div class="form-control">
			<label for="password">Password</label>
			<input
				type="password"
				name="password"
				[(ngModel)]="password"
				id="password"
				placeholder="Enter your password here."
			/>
		</div>
		<input type="submit" value="Sign in" class="btn btn-block" />
		<p *ngIf="hasRoute('/sign-up')">Already have an account? <a routerLink="/">Log in!</a></p>
		<p *ngIf="hasRoute('/')">New here? Click here to <a routerLink="/sign-up">Sign up.</a></p>
	</form>
</div>
